@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    color-scheme: dark;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-image: url('../assets/pattern/pattern.jpg');
}

header {
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Hubballi',Arial, Helvetica, sans-serif;
}

header p {
    font-size: 18px;
}

main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid darkorange;
    box-shadow: 1px .5px .5px 1.5px darkorange;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius:5%; 
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}

.description, .price, button, .result{
    font-family: 'Titillium Web';
}

span {
    color: rgb(255, 183, 94);
}

button{
    font-size: 16px;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    margin-right: 16px;
    padding: 4px;
    border-radius: 7px;
    background-color:rgb(63, 63, 63);
}

button:hover {
    opacity: .5;
}

.low {
    border: 1px solid rgb(255, 44, 44);
}

.high{
    border: 1px solid rgb(45, 255, 80);
}

.start, .next {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;  
    margin-top: 4px;
    padding: 6px;
    border: 1px solid darkorange;
}

.description {
    border-bottom: 1px solid darkgray;
    margin-bottom: 24px;
    font-size: 16px;
}

.price {
    margin-bottom: 5px;
    font-size: 16px;
}

.win, .lose {
    font-weight: bold;
    font-size: 24px;
    display: block;
    text-align: center;
}

.win {
    color: green;
}

.lose {
    color: red;
}

@media only screen and (max-width: 550px) {
    header {
        margin-bottom: 16px;
    }

    main{
        width: 18.75rem;
        padding: 32px;
        border: 1px solid darkorange;
        box-shadow: .5px .5px .5px .5px darkorange;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 300px) {
    main{
        width: 15.65rem;
        padding: 24px;
    }
}


