@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    display: grid;
    height: 100vh;
    place-content: center;
    background-image: url('../assets/pattern/pattern.jpg');
}

header {
    text-align: center;
    margin-bottom: 1.25rem;
    font-family: 'Hubballi',Arial, Helvetica, sans-serif;
}

header p {
    font-size: 1.2rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    border: 1px solid darkorange;
    box-shadow: 1px .5px .5px 1.5px darkorange;
    padding: 4rem;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-right-radius:5%; 
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}

.description, .price, button, .result{
    font-family: 'Titillium Web';
}

span {
    color: rgb(255, 183, 94);
}

button{
    cursor: pointer;
    border: none;
    margin-right: 1rem;
    border: 1px solid darkorange;
    padding: .25rem;
    border-radius: 5px;
    background-color:rgb(63, 63, 63) ;
}

button:hover {
    opacity: .75;
}

